{% extends '::base.html.twig' %}

{% block body %}
<h1>{{ 'form.update.title'|trans({}, 'CanalTPMediaManagerBundle') }}</h1>

<h3>{{ 'list.category.logo'|trans({}, 'CanalTPMediaManagerBundle') }}</h3>
<table border="1" width="1200px">
    <tr>
        <td>Filename</td>
        <td>Basename</td>
        <td>Path</td>
        <td>Size</td>
        <td>Company</td>
        <td>Category</td>
    </tr>
    {% for media in logos %}
    <tr>
        <td>{{ media.getFileName() }}</td>
        <td>{{ media.getBaseName() }}</td>
        <td>{{ media.getPath() }}</td>
        <td>{{ media.getSize() }}</td>
        <td>{{ media.getCompany().getName() }}</td>
        <td>{{ media.getCategory().getName() }}</td>
    </tr>
    {% endfor %}
</table>

<h3>{{ 'list.category.network'|trans({}, 'CanalTPMediaManagerBundle') }}</h3>
<table border="1" width="1200px">
    <tr>
        <td>Filename</td>
        <td>Basename</td>
        <td>Path</td>
        <td>Size</td>
        <td>Company</td>
        <td>Category</td>
    </tr>
    {% for media in networks %}
    <tr>
        <td>{{ media.getFileName() }}</td>
        <td>{{ media.getBaseName() }}</td>
        <td>{{ media.getPath() }}</td>
        <td>{{ media.getSize() }}</td>
        <td>{{ media.getCompany().getName() }}</td>
        <td>{{ media.getCategory().getName() }}</td>
    </tr>
    {% endfor %}
</table>

<br>

{{ form(form) }}
{% endblock %}